html{
    height:100%;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(8, 0, 44, 0.863);
    height: 100%;
    width:100%;
    position: fixed;
}
.container1{
    position:fixed;
    width:100px;
    height:100px;
    top:40vh

}

.task{
    position:absolute;
    bottom:100px;
    right:-105px;
    height:100px;
    padding-right:40px;
    padding-left:40px;
    border-radius:10px;
    border:rgb(0, 0, 0) 2px solid;
    background-color: rgb(245, 255, 131);
    font-size:20px;
    z-index:75;
    font-family:"Bitcount Prop Single";

}
.time{
    position:absolute;
    top:20px;
    height:40px;
    padding-right:4px;
    padding-left:30px;
    left:-65px;
    border-radius:5px;
    border:rgb(245, 255, 131) 3px solid;
    background-color: rgb(245, 255, 131);
    border:rgb(0, 0, 0) 2px solid;
    font-size:14px;
    z-index:75;
    font-family:"Bitcount Prop Single";
}
.endDay{
    position:absolute;
    top:196px;
    left:400px;
    border-radius:5px;
    border:rgb(245, 255, 131) 3px solid;
    background-color: rgb(245, 255, 131);
    border:rgb(0, 0, 0) 2px solid;
    font-size:14px;
    z-index:75;
    font-family:"Bitcount Prop Single";
    width:100px;
    height:100px;
}
.endDay:hover{
    background-color: rgb(239, 255, 179);
}
.instructions{
    position:fixed;
    z-index:100;
    right:1000px;
    top:10vh;

}
.map{
    height:1430px;
    z-index:0;

    position:absolute;
    left:-20px;
}
.instruction-text{
    width:250px;
    font-family:"Bitcount Prop Single";
    color: rgb(0, 255, 238);
}
.instruction-title{
    font-family:"Bitcount Prop Single";
    color: rgb(0, 255, 238);
}

.obj{
    font-family:Arial;
}
.container3{
    max-width: 250px;
    position:relative;
}
.cobox{
    background-color: rgb(245, 255, 131);
    border: rgb(0, 0, 0) 2px solid;
    border-radius: 10px;
    padding: 10px;
    font-family:"Bitcount Prop Single";
    position:absolute;
    top:100px;
    right:-157px;
    padding-right:20px;
    padding-left:20px;
    width:400px;
    overflow-y: scroll;
    max-height: 200px;
}

/* Custom scrollbar for .cobox */
.cobox::-webkit-scrollbar {
    width: 10px;
    border-radius: 8px;
}

.delete-button {
    width:20px;
    height:20px;
    background-color:rgb(255, 137, 137);
    cursor: pointer;
    position:absolute;
    right:-150px;
    top:-5px;
    padding:2px;
}
.completed-button {
    width:20px;
    height:20px;
    background-color: rgb(149, 255, 188);
    cursor: pointer;
    position:absolute;
    right:-120px;
    top:-5px;
    padding:2px;
    padding-bottom: 2px;
}

.delete-button:hover {
    background-color: rgb(218, 62, 62);

}
.completed-button:hover{
    background-color: rgb(68, 255, 136);

}
.checkbox{
    position:absolute;
    right:-80px;
    top:-5px;
    width:20px;
    height:20px;
    background-color: white;
}

.popup{
    position:fixed;
    width:500px;
    height:500px;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:1000;
    position:absolute;
    border-radius:8px;
    border:rgb(245, 255, 131) 3px solid;
    background-color: rgb(245, 255, 131);
    border:rgb(0, 0, 0) 3px solid;
    font-size:20px;
    font-family:"Bitcount Prop Single";
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    
}
.popup.active{
    position:fixed;
    width:500px;
    height:500px;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:1000;
    position:absolute;
    border-radius:8px;
    border:rgb(245, 255, 131) 3px solid;
    background-color: rgb(245, 255, 131);
    border:rgb(0, 0, 0) 3px solid;
    font-size:20px;
    font-family:"Bitcount Prop Single";
    opacity:1;
    visibility: visible;
}
.confirm{
    position: absolute;
    bottom: 20px;
    right: 16px;
    background-color: rgb(68, 255, 136);
    font-family:"Bitcount Prop Single";
    border-radius:2px;
    padding:5px;
}
.cancel{
    position:absolute;
    top: 16px;
    right: 14px;
    background-color: rgb(218, 62, 62);
    padding:2px;
    padding-left:5px;
    padding-right:4px;
    font-family:"Bitcount Prop Single";
    border-radius:2px;
    padding-left:7px;
}
.pt{
    font-family:"Bitcount Prop Single";
    font-size:20px;
    color: black;
    position:absolute;
    top:20px;
    font-weight: 450;
}
.overlay{
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.5);
    position:fixed;
    z-index:-1;

}

.notaskc{
    position: absolute;
    bottom: 0px;
    left: 20px;
}
.popupscroll::-webkit-scrollbar {
    width: 10px;
    border-radius: 8px;
}
.popupscroll{
    max-height: 200px;
    max-width:300px;
    overflow-y: scroll;
    font-size: 18px;
}